.contact-container {
    font-size: 30px;
    background-color: #737a85;
    justify-content: space-between;
    text-align: left;
}

.h1 {
    color: red;
    text-shadow: 4px 4px 4px #000000;
}